.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.content {
  margin: auto;
  max-width: 70%;
  background-color: #fff;
  padding: 30px;
}
